[Unit]
Description=Run hourly jobs for django-admin

[Timer]
OnCalendar=monthly
Persistent=true
Unit={{ mailman_systemd_prefix }}django-admin-runjobs@monthly.service

[Install]
WantedBy=timers.target
